@import "../../App.scss";

.success-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success-icon-wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    color: $dark-grey-blue;
    width: 100px;
    height: 100px;
    #Alien {
      stroke: $dark-grey-blue;
    }
  }
}

.success-message-wrapper {
  @include font-size($text-big);
  font-family: $logo-font;
  color: $dark-grey-blue;
  text-align: center;
  padding-bottom: 45px;
}

.success-button-wrapper {
  a {
    color: $dark-grey-blue;
  }
}
