@import "../../App.scss";

.flex-box-grid-results {
  min-height: 280px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}

.flex-box-grid-item-result {
  width: 24%;
  height: 500px;
}
