@import "../../App.scss";

#results {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  a {
    color: $dark-grey-blue;
  }
}

.show-grid {
  position: absolute;
  height: 90%;
  width: 100%;
  overflow: scroll;
  @include scrollbars(0.5rem, $dark-grey-blue, $background !important);
}

.infinite-loader {
  width: 100%;
  text-align: center;
  font-family: $logo-font;
  color: $dark-grey-blue;
}

.back-to-search {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.back-to-search-btn {
  button {
    width: fit-content;
  }
}
