@import "../../../App.scss";

.notes-list-container {
  height: 100%;
}

.note-search-wrapper {
  height: 10%;
  padding-bottom: 25px;
}

.notes-list-wrapper {
  height: 90%;
}

.notes-list {
  width: 107%;
  padding-right: 10px;
  height: 100%;
  overflow: scroll;
  @include scrollbars(0.5rem, $dark-grey-blue, $background !important);
}

.notes-list-item {
  padding-bottom: 20px;
}
