@import "../../../App.scss";

.note-editor-container {
  height: 100%;
}

.note-editor-form {
  height: 100%;
}

.note-editor-title {
  height: 10%;
  width: 100%;
  padding-bottom: 25px !important;
}

.note-editor-text {
  width: 100%;
  height: 80%;
  padding-bottom: 25px !important;
  .MuiOutlinedInput-root {
    height: 100%;
  }
}

.note-editor-btns {
  height: 10%;
  width: 100%;
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 15px !important;
}

.note-editor-btn {
  height: 40px;
}

#outlined-note-editor-title {
  height: 30px !important;
  padding: 14px;
}

#outlined-note-editor-text {
  height: 100%;
}
