@import "../../App.scss";

.rs-modal {
  margin: 0;
}

.rs-modal-content {
  background-color: rgb(32, 67, 97, 0.6);
  border-radius: 0;
}

.modal-content-wrapper {
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: 0;
  border: solid white 1px;
  border-radius: 20px;
  background-color: rgb(32, 67, 97);
  @include mobile {
    margin: 0;
  }
}

.modal-content-container {
  height: 100%;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  i {
    cursor: pointer;
    color: #fff;
  }
}

.close-modal {
  cursor: pointer;
}

.rs-modal-full .rs-modal-dialog {
  margin: 0;
}

.rs-modal-full {
  width: 100vw;
  height: 100%;
}

.rs-modal-dialog .rs-modal-content {
  height: 100vh;
}
.rs-grid-container-fluid {
  height: 90%;
}

.full-artwork {
  width: 100%;
  height: 100%;
  display: flex;
  @include mobile {
    flex-direction: column;
  }
}

.artwork-image-big {
  height: fit-content;
  max-height: 100%;
  max-width: 100%;
}

.left-side {
  height: 100%;
  @include mobile {
    height: 65%;
    width: 100%;
    padding: 0;
    padding-bottom: 5px;
  }
}

.right-side {
  height: 100%;
  @include mobile {
    height: 35%;
    width: 100%;
    padding: 0;
  }
}

.about-art-work {
  color: #fff;
  padding-bottom: 30px;
  height: auto;
  @include mobile {
    padding-bottom: 20px;
  }
  h5 {
    font-family: $logo-font;
    padding-bottom: 20px;
    letter-spacing: 3px;
    @include mobile {
      font-size: 0.8rem;
      padding-bottom: 5px;
    }
  }
  h6 {
    font-family: $main-font;
    @include font-size($text-small);
    padding-bottom: 20px;
    @include mobile {
      padding-bottom: 10px;
      font-size: 0.65rem;
    }
  }
  span {
    font-family: $main-font;
    @include mobile {
      font-size: 0.65rem;
      padding-bottom: 10px;
    }
  }
}

.modal-control-btns {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  @include mobile {
    height: 100%;
  }
}

.modal-control-btn {
  @include mobile {
    width: 25px !important;
    height: 25px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    background-color: transparent;
  }
}

.modal-control-btn:hover,
.modal-control-btn:focus {
  @include mobile {
    background-color: transparent;
  }
}

.modal-control-icon {
  @include mobile {
    width: 20px !important;
    height: 20px !important;
    padding: 4px 0 !important;
    color: #fff;
  }
}
