@import "../../sass/index.scss";

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 50px;
  a:hover {
    color: none;
  }
}

.nav-btn-group {
  font-family: $main-font;

  ul {
    display: flex;
  }
  li {
    padding: 15px;
  }
  a {
    color: $dark-grey-blue;
    transition: 1s ease-in-out;
    letter-spacing: 2px;
  }
  a:hover {
    font-weight: 800;
    text-decoration: underline;
  }
  a:focus {
    color: $is-active;
    font-weight: 800;
    text-decoration: none;
  }
}
