@import "../../App.scss";

.searcher-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.control-bar-wrapper {
  width: 100%;
  height: 30%;
}
