@import "../../App.scss";

.survey-btns-mobile {
  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    padding: 30px;
    .survey-color-btn-wrapper {
      height: 30px;
      width: 56px;
    }
  }
}
