@import "../../App.scss";

.choose-theme-search-container {
  position: absolute;
  padding: 50px;
  height: 100%;
  width: 100%;
  transition: ease-in-out 0.7s;
}

.choose-theme-search-container:hover {
  .btn-looking-glass,
  .search-desc {
    color: $prussian-blue;
    letter-spacing: 2px;
  }
}

.theme-search-wrapper {
  padding: 15px;
  position: absolute;
  z-index: 5;
  z-index: 5;
  top: 90%;
  left: 50%;
  display: flex;
  justify-content: center;
}

.btn-looking-glass {
  transition: ease-in-out 0.7s;
  background-color: transparent;
  color: $is-ready;
}

.btn-looking-glass-disabled {
  color: $is-blocked;
}

.search-desc {
  color: transparent;
  letter-spacing: 0;
  transition: ease-in-out 0.7s;
}

.search-desc:hover {
  color: $vivid-blue;
}
