@import "../../App.scss";
.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 50px;
  @include mobile {
    padding: 25px;
    display: block;
    height: 20vh;
  }
}

.about-author {
  @include font-size(0.8);
  color: $dark-grey-blue;
  letter-spacing: 3px;
  padding: 15px;
  @include mobile {
    @include font-size(0.5);
    text-align: center;
  }
}

.social-buttons {
  display: flex;
  padding-right: 50px;
}

.details-buttons {
  display: flex;
  justify-content: space-around;
}

.icon-wrapper {
  display: flex;
  padding: 15px;
  opacity: 60%;
  color: #204361;
  justify-content: flex-end;
  @include mobile {
    i {
      height: 20px !important;
      font-size: 20px !important;
    }
  }
}

.icon-wrapper:hover {
  opacity: 100%;
}

.open-footer {
  @include mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
