@import "../../App.scss";

.github-login-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 45px;
}

.github-login-button-container {
  height: 45px;
  width: 60%;
  display: inline-flex;
  border: $dark-grey-blue 1px solid !important;
  border-radius: 30px !important;
  justify-content: center;
  padding-bottom: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  transition: ease-in-out 0.6s;
  i,
  button {
    color: $dark-grey-blue;
  }
  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 31px;
  }
}

.github-login-button-container:hover {
  transition: ease-in-out 0.6s;
  border: $dark-grey-blue 1px solid !important;
  background-color: black;
  i,
  button {
    color: white;
  }
}

.github-icon-wrapper {
  margin-right: 10px;
  padding: 10px;
  height: 43px;
  @include mobile {
    padding: 0;
    height: fit-content;
  }
}

.rs-icon-github {
  font-size: 24px;
  @include mobile {
    font-size: 24px !important;
  }
}

.enter-with-github {
  height: 43px;
  padding: 10px 10px 10px 0;
  background-color: transparent !important;
  transition: ease-in-out 0.6s;
  @include mobile {
    padding: 0;
    font-size: 0.75rem;
  }
}
